<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}  <!-- Fehlermeldung anzeigen, falls vorhanden -->
</div>

<div *ngIf="users.length > 0; else noData">
  <ul>
    <li *ngFor="let user of users">
      <p>{{ user.name }}</p>  <!-- Beispiel für das Anzeigen des Namens des Benutzers -->
      <p>{{ user.email }}</p> <!-- Beispiel für das Anzeigen der E-Mail-Adresse des Benutzers -->
    </li>
  </ul>
</div>

<ng-template #noData>
  <p>Keine Daten verfügbar</p>  <!-- Nachricht anzeigen, wenn keine Daten vorhanden sind -->
</ng-template>
