body {
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: white;
    padding: 1rem;
    margin: 5px;
}

button {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 8px;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    background-color: #e5e7eb;
    transition: background-color 0.3s;
    position: relative;
}

button:hover {
    background-color: #d1d5db;
}