nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

button {
    padding: 10px 20px;
    background-color: darkgray;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: lightgray;
}